@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --bg-dark: #000;
    --bg-light: #ccc;
    --txt-dark: #000;
    --txt-light: #fff;
    --primary: hsl(171, 100%, 41%);
    --link:hsl(217, 71%, 53%);
    --info: hsl(204, 86%, 53%);
    --succes: hsl(141, 53%, 53%);
    --warning: hsl(48, 100%, 67%);
    --danger: hsl(348, 100%, 61%);
    --purple: hsl(294, 71%, 79%);
    --pinky: #ffb3b3;
    --cafe: #ffbc6b;



}

body{
    width: 100%;
    height: 100vh;
    background-image: url('./imgs/background/WhatsApp\ Image\ 2024-04-04\ at\ 1.46.34\ PM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  /*  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);*/

    /*background: radial-gradient(circle, rgb(8, 5, 64) 0%, rgb(10, 113, 70) 35%, rgb(9, 54, 138) 100%);*/
    color: var(--txt-light);
    font-size: 18px;
    
}

.flex-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    gap: 3.82rem;

}

.flex-center p{
    color: var(--purple);
}
#showHelp{
    color: var(--succes);
}
.flex-center .link-index{
    padding: 16px 32px;
    background-color: var(--link);
    text-decoration: none;
    color: var(--txt-light);
    border: none;
    border-radius: 15px;
    font-weight: 700;
}

.mode-light{
    background-color: var(--bg-dark);
    color: var(--txt-light);
}

.d-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

}

.d-movil{
    display: none;
    
    width: 100%;
    min-height: 100%;
}
.header-page{
    height: 75px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 .25rem;
    margin-bottom: 5rem;
    border-bottom:thin dashed  white;
    
}
.header-page .title{
    color: var(--warning);
}


/**********************/
.love {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
  }


.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
}

.love {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
    position: relative;
    top: 10rem;
    left: 10rem;
  }
  
  .love:before,
  .love:after {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    position: absolute;
  }
  
  .love:before {
    top: 0;
    left: -25px;
  }
  
  .love:after {
    top: -25px;
  }
  .love {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
    position: relative;
    top: 10rem;
    left: 10rem;
    animation: beating 2s ease infinite;
  }
  
/**********************/


.heart{
     position: relative;
     width: 50%;
     height: auto;
}




/*------------------------------------------------------------*/
.content-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    height: auto;
    letter-spacing: 1.5px;
    padding: 1rem;
}

/* - ### eslider*/
.slider-content{
    
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*outline: thin dashed lightblue;*/
    text-align: center;
    padding: .25rem;
    margin-bottom:  10.35rem;
}
.parrafo{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5.78rem;
}
.parrafo h3,p{
    text-shadow: 0 2px 5px whitesmoke;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.slider{
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    
    scroll-snap-type: x  mandatory;
    height: 380px;
    width: 90%;
    border-radius: 15px;
    overflow-y: hidden;

    /*background-image: url('/imgs/images/img3.jpg');*/
    background-image: url('/imgs/custom/background.jpeg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 18px;

    transition: all .7s ease-out;
}

.slider .item{
    
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    
    scroll-behavior: smooth;
    scroll-snap-align: center;
background-color: rgba(255, 255, 255, .2);
/*backdrop-filter: blur(2px);*/
    
    
}

.slider .item .text-overlay{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    /*
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.slider .item .text-overlay p{
    font-weight: 600;
    font-size: 5vw;
    font-family: 'Damion', sans-serif;
    letter-spacing: 4px;
    text-shadow: 0px 2px 8px black;
    line-height: 1.5em;

}
.slider .item .text-overlay:hover .item{
    backdrop-filter: blur(0);

}

/*--- #### Card Geral*/
.card{
    padding: 1.35rem 1rem;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(52, 229, 70, .8);
    margin-bottom: 5rem;
    margin-top: 6rem;
    color: #000;

}
.card h1{
    margin-bottom: 1rem;
    color: #fff;
    font-family: "Damion", cursive;
    font-style: normal;
    text-shadow: 1px 0 1px #000;
}
.card p{
        font-size: 3.5vw;
    line-height: 2em;
    font-weight: 600;
}
.card2{
    
    padding: 1.35rem 1rem;
    width: 100%;
    min-height: fit-content;
    border-radius: 15px;
    background-color: grey;
    margin-bottom: 5rem;
    color: white;
    text-shadow: 1px 0px 2px #000;
}

.card2 ul{
    text-shadow: none;
}
.card2 h3{
    margin-bottom: .78rem;
    color: var(--link);
    text-shadow: 1px 0 5px white;
    font-weight: 700;
    line-height: 3vw;

    padding-bottom: 1rem;
    border-bottom:thin solid rgba(0, 0, 0, 0.304);
}
.card2 ul{
    padding:0 1.53rem ;
}

.card2 ul li{
    list-style: disc;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    /*font-family: "Mochiy Pop One", sans-serif;*/

}

.fotos{
    
    padding: 1rem;

    margin: 9.34rem 0;
    
}
.container-image{
    margin-top: 3.65rem;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    transition: all .43s ease;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px black;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:  blur(15px);
    transition: all .7s ease;

    
}

.container-image:hover .image{
    filter: none;
}


.container-cards {
    display: block;
    margin-top: 16.89 0;
    margin-bottom: 16.89 0;
}
.item-card{
    position: relative;

    width: 230px;
    height: 310px;
    margin-bottom: 7rem;
    box-shadow: 1px 2px 15px rgb(214, 203, 203);
    overflow: hidden;
    border-radius: 20px;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height .45s ease;

}
.item-card:hover .overlay{
    height: 100%;
    
}
.item-card:hover .image{
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-size: cover;
    
}


.overlay h1{
    width: 100%;
    margin-top: 30%;
    color: #fff;
    font-family: 'Damion', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5vw;
    position: absolute;
    text-align: center;
    transform: rotate(-5deg) skew(-5deg);
}
.overlay h2{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-size: 3vw;
            margin-top: 60%;
            letter-spacing: 5px;
            line-height: 1.5em;
}

.item-card img{
    display: block;
    width: 100%;
    height: 100%;
}




/*------------------------------------------------------------*/
.footer-page{
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    justify-content: flex-end;
}
.footer-page .opinion{
    margin-top: 12.32rem;
    color: var(--pinky);
    text-align: center;
    margin-bottom: 3rem;
}
.footer-page .text{

    
    padding: 1rem;
    letter-spacing: 5px;
    line-height: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

#icon-msg{
    font-size: 18px;
    color: var(--succes);
}

.container-dialog{
    width: 100%;
    min-height: 50px;
    position: relative;
    padding: .5rem;

}

.showHelpDialog{
    
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--succes);
    text-align: center;
    gap: 1rem;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 0 5px var(--succes);
    padding: .75rem;
    
}
.showHelpDialog p{
    color: var(--bg-dark);
}

.show{
    display: flex;
}
/*-------------- Mediaqueriys*/

@media screen and (max-width: 430px){
    .d-desktop{
        display: none;
    }
    .d-movil{
        display: block;
                
    }
    
}


/**********************c @Keyfrasmes*/
@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }